body {
    font-family: "Product Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    background-image: url(./img/shared/bg.jpg);
    filter: drop-shadow( 10px 10px 10px black);
    background-color: #000;
    background-repeat: repeat-y;
    background-position: center center;
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
  .main {
    position: relative;
    transform: translateY(25%);
    text-align: center;
    top: 45%;
  }
  #avatar {
    height: 175px;
    width: 175px;
  }
  .topping > .container-top {
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    max-width: 75%;
  }
  .summary {
    min-height: 75vh;
  }
  .summary > h1 {
    font-weight: 900;
    font-size: 650%;
  }
  h3 {
    font-size: 250%;
  }
  h1 {
      margin: 0px;
      font-size: 650%;
  }
  .list-group {
    text-align: center;
  }
  ul {
    padding: 0px;
  }
  ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    margin-right: 0;
  }
  ul li:first-child {
    margin: 0;
  }
  ul li img{
    width:125px;
    opacity:.8;
    transition:all .4s ease-in-out;
  }
  ul li img:hover{
    transform:scale(1.025)
  }