doctype html
html(lang='en', style='height:100%;')
    head
        meta(charset='UTF-8')
        title SuperSatanSon
        //-Open Graph
        meta(name='description', content='Lewd fanarts, sexy powerups, cute demon sisters, Pokegirl gijinkas, and sometimes fucking. Too soft for Satan, but still sexy.')
        meta(property='og:title', content="SuperSatanSon's Illustrations")
        meta(property='og:type', content='website')
        meta(property='og:image', content='https://supersatanson.com/img/site/favicon/banner.jpg')
        meta(property='og:url', content='http://SuperSatanSon.com/')
        meta(property='og:description', content='Lewd fanarts, sexy powerups, cute demon sisters, Pokegirl gijinkas, and sometimes fucking. Too soft for Satan, but still sexy.')
        //-Twitter
        meta(property='twitter:card', content='summary_large_image')
        meta(property='twitter:image', content='./img/site/favicon/banner.jpg')
        meta(property='twitter:title', content="SuperSatanSon's Illustrations")
        meta(property='twitter:description', content='Lewd fanarts, sexy powerups, cute demon sisters, Pokegirl gijinkas, and sometimes fucking. Too soft for Satan, but still sexy.')
        meta(property='twitter:creator', content="@SuperSatanSon")
        meta(property='twitter:url', content='https://supersatanson.com')
        meta(property='twitter:site', content="@SuperSatanSon")
        //- Favicons
        link(rel='apple-touch-icon', sizes='180x180', href='./img/site/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='./img/site/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='./img/site/favicon/favicon-16x16.png')
        link(rel='manifest', href='./img/site/favicon/site.webmanifest')
        link(rel='mask-icon', href='./img/site/favicon/safari-pinned-tab.svg', color='#80b9a8')
        link(rel='shortcut icon', href='./img/site/favicon/favicon.ico')
        meta(name='apple-mobile-web-app-title', content='SuperSatanSon Artwork')
        meta(name='application-name', content='SuperSatanSon Artwork')
        meta(name='msapplication-config', content='./img/site/favicon/browserconfig.xml')
        meta(name='theme-color', content='#80b9a8')
        link(href='./css/main.styl', rel='stylesheet', type='text/css')
        script(src='js/main.js', type='module')
    body
        .main
            .topping
                .container-top
                    .summary
                        img#avatar(src='./img/site/ava.png', alt='Avatar', height='200', width='200')
                        h1 SuperSatanSon
                        .list-group
                            ul
                                li
                                    a(href='https://twitter.com/SuperSatanSon')
                                        img(src='./img/site/icon_twitter.png')
                                li
                                    a(href='https://www.patreon.com/supersatanson')
                                        img(src='./img/site/patreon.png')
                                li
                                    a(href='https://www.pixiv.net/member.php?id=7069151')
                                        img(src='./img/site/pixiv.png')
                                li
                                    a(href='https://www.hentai-foundry.com/pictures/user/Supersatanson')
                                        img(src='./img/site/hf.png')
                            ul
                                li
                                    a(href='https://www.deviantart.com/supersatanson')
                                        img(src='./img/site/da.png')
                                li
                                    a(href='http://ko-fi.com/supersatanson')
                                        img(src='./img/site/kofi.png')
                                li
                                    a(href='https://picarto.tv/supersatanson')
                                        img(src='./img/site/picarto.png')

        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-53535626-4')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-53535626-4');
            
        footer
            a(href="https://oddball.tf")
                img(src="./img/site/favicon/footer.png")


