body
  background-position center
  background-size cover
  background-repeat no-repeat
  overflow hidden
  margin 0
  padding 0
  color #fff !important
  font-weight 300
  font-size 107%
  font-family 'Product Sans', Helvetica, Arial, sans-serif
  height 100%

@keyframes gradient
  0%
    background-position 0

  100%
    background-position 100%

.main
  position relative
  text-align center
  top 25%
  z-index 3
  pointer-events none

.avatarContainer
  width max-content
  height max-content
  margin 0 auto
  border-radius 100px
  filter drop-shadow(10px 10px 20px black)

.avatar
  border-radius 100%
  pointer-events all

.topping
  & > .container-top
    min-width 50%
    max-width 100%

.summary
  min-height 100vh

  & > h1
    font-weight 500
    font-size 650%
    margin 0
    filter drop-shadow(10px 10px 20px black)

h3
  font-size 250%

.ulshadow
  background linear-gradient(45deg, #D70000 0%, #4B0000 100%)
  filter blur(12px)
  animation gradient 3s ease infinite
  background-size 200% 100%
  animation-direction alternate
  position relative
  width 800px
  height 175px
  margin 0 auto
  border-radius 100px

.list-group
  text-align center

ul
  padding 10px
  background linear-gradient(45deg, #D70000 0%, #4B0000 100%)
  animation gradient 3s ease infinite
  background-size 200% 100%
  animation-direction alternate
  border-radius 100px
  margin 0 auto
  width max-content
  position relative
  top -160px
  pointer-events all

  li
    display inline-block
    padding-left 25px
    list-style-type none
    top 2px
    position relative
    filter drop-shadow(10px 10px 20px black)
    pointer-events all

    &:first-of-type
      padding-left 0

    img
      width 125px
      opacity 0.8
      pointer-events all

footer
  position fixed
  bottom 0
  width 100%

  >a>img
    width 30px
    float right
    position relative
    right 5px
    bottom 5px
@media only screen and (max-width 700px)
  h1
    font-size 350%

  ul
    width 30vh

  li
    padding 5px

  .avatar
    width 10vh
    height 10vh

@media only screen and (min-width 700px)
  h1
    font-size 650%

  ul
    width max-content

  li
    padding-left 30px

    &:first-of-type
      padding-left 0

  .avatar
    width 16vh
    height 16vh
