body
  overflow hidden
  margin 0
  padding 0
  background-position center
  background-size cover
  background-repeat no-repeat
  color #7f0000
  font-weight 300
  font-size 100%
  font-family 'Roboto', sans-serif
  background-image: url('./img/site/bg.png')

.main
  position relative
  top 45%
  text-align center
  transform translateY(25%)

#avatar
  width 175px
  height 175px
  border-radius 100px

.topping
  & > .container-top
    margin-right auto
    margin-left auto
    min-width 50%
    max-width 75%

.summary
  min-height 75vh
  & > h1
    font-weight 100
    font-size 650%
    margin 0

h3
  font-size 250%

.list-group
  text-align center

ul
  padding 0
  li
    display inline-block
    padding-left 25px
    list-style-type none
    img
      width 125px
      transition all 0.4s ease-in-out
      cursor pointer
      &:hover
        transform scale(1.025) rotate(0.1deg)

#milaGame
    width calc(100vh * 1.3755274261603375)
    max-width 1304px
    max-height 948px
    z-index 1
    position absolute
    display flex
    margin 0 auto
    top: 0
    bottom: 0
    left 0
    right 0
    height calc(100vw * .7269938650306749)
    background-color #323234
    border-radius 5px
    opacity 0
    transition opacity ease-in-out .25s
    display none
    
    .game
      height 100%
      width 100%
      
      object
        width 100%
        height 100%

