doctype html
html(lang='en' style='height:100%;')
    head
        meta(charset='UTF-8')
        title ♥️ Miya ♥️
        meta(property='og:image' content='./img/site/favicon/og-image.jpg')
        meta(property='og:image:width' content='279')
        meta(property='og:image:height' content='279')
        meta(property='og:title' content='♥️ Miya ♥️')
        meta(property='og:description' content='')
        meta(property='og:url' content='https://adhdsenpai.com')

        link(rel='apple-touch-icon' sizes='180x180' href='./img/site/favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./img/site/favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./img/site/favicon/favicon-16x16.png')
        link(rel='manifest' href='./img/site/favicon/site.webmanifest')
        link(rel='mask-icon' href='./img/site/favicon/safari-pinned-tab.svg' color='#804cee')
        link(rel='shortcut icon' href='./img/site/favicon/favicon.ico')
        meta(name='msapplication-TileColor' content='#804cee')
        meta(name='msapplication-config' content='./img/site/favicon/browserconfig.xml')
        meta(name='theme-color' content='#804cee')


    link(href='./css/main.styl' rel='stylesheet' type='text/css')
    script(src='js/main.js' type='module')
    body
        .main
            .topping
                .container-top
                    .summary
                        img#avatar(src='./img/site/avatar.gif' alt='Avatar' height='200' width='200')
                        h1 ♥️ Miya ♥️
                        .list-group
                            ul
                                li
                                    a(href='https://discord.com/users/143938620137537547')
                                        img(src='./img/site/discord.svg')
                                li
                                    a(href='https://www.paypal.com/paypalme/ADHDSenpai')
                                        img(src='./img/site/paypal.svg')
                                li
                                    a(href='https://cash.app/$ADHDSenpai')
                                        img(src='./img/site/cashapp.svg' style="border-radius: 100px")
                                li
                                    a(href='https://steamcommunity.com/id/MiyaRawr/')
                                        img(src='./img/site/steam.svg')
                                li
                                    a(href='https://onlyfans.com/slashedpanties')
                                        img(src='./img/site/onlyfans.svg')
                                li
                                    a(href='https://www.twitch.tv/adhdsenpai')
                                        img(src='./img/site/twitch.svg')
        footer
            a(href="https://oddball.tf")
                img(src="./img/site/favicon/footer.png")