doctype html
html(lang='en', style='height:100%;')
    head
        meta(charset='UTF-8')
        title Skaiyawn
        meta(name='description', content='Home of Transforming Mila, a TF based flash game.')
        meta(property='og:title', content="Skaiyawn's Portal of Distasteful Media")
        meta(property='og:site_name', content='Skaiyawn.com')
        meta(property='og:type', content='website')
        meta(property='og:image', content='https://skaiyawn.com/img/site/favicon/og-image.jpg')
        meta(property='og:image:height', content='279')
        meta(property='og:image:width', content='279')
        meta(property='og:url', content='https://skaiyawn.com')
        meta(property='og:description', content='Home of Transforming Mila, a TF based flash game.')
        link(rel="apple-touch-icon", sizes="180x180", href="./img/site/favicon/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="./img/site/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="./img/site/favicon/favicon-16x16.png")
        link(rel="manifest", href="./img/site/favicon/site.webmanifest")
        link(rel="mask-icon", href="./img/site/favicon/safari-pinned-tab.svg", color="#7f0000")
        link(rel="shortcut icon", href="./img/site/favicon/favicon.ico")
        meta(name="msapplication-TileColor", content="#b91d47")
        meta(name="msapplication-config", content="./img/site/favicon/browserconfig.xml")
        meta(name="theme-color", content="#7f0000")

        link(rel='stylesheet', href='./main.css')
        script(src='./main.js')
        link(href='https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap', rel='stylesheet')
    body
        .main
            .topping
                .container-top
                    .summary
                        img#avatar(src='./img/site/ava.png', alt='Avatar', height='200', width='200')
                        h1 Skaiyawn
                        .list-group
                            ul
                                li
                                    a(href='https://www.deviantart.com/skaiyawn')
                                        img(src='./img/site/da.png')
                                li
                                    a(href='https://discord.gg/5gRXs9C')
                                        img(src='./img/site/discord.png')
                                li
                                    a(href='https://milagame.skiyawn.com')
                                        img(src='./img/site/mila.png')
                                li
                                    a(href='https://www.patreon.com/skaiyawn')
                                        img(src='./img/site/patreon.png')
                                li
                                    a(href='https://tfgames.site/index.php?module=viewgame&id=1993')
                                        img(src='./img/site/tfgamessite.png')
