doctype html
html(lang='en' style='height:100%;')
    head
        meta(charset='UTF-8')
        title RAVE CSGO
        meta(property='og:title' content='RAVE CSGO')
        meta(property='og:site_name' content='Oddball.tf')
        meta(property='og:type' content='website')
        meta(property='og:image' content='https://i.oddball.tf/nFtfJD9PAm.png')
        meta(property='og:image:height' content='337')
        meta(property='og:image:width' content='380')
        meta(property='og:url' content='https://oddball.tf/')

        link(rel="apple-touch-icon" sizes="180x180" href="./img/site/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./img/site/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./img/site/favicon/favicon-16x16.png")
        link(rel="manifest" href="./img/site/favicon/manifest.json")
        link(rel="mask-icon" href="./img/site/favicon/safari-pinned-tab.svg" color="#cbbefb")
        link(rel="shortcut icon" href="./img/site/favicon/favicon.ico")
        meta(name="msapplication-TileColor" content="#cbbefb")
        meta(name="msapplication-config" content="./img/site/favicon/browserconfig.xml")
        meta(name="theme-color" content="#cbbefb")

        link(href='./css/main.styl' rel='stylesheet' type='text/css')
        script(src='js/main.js' type='module')
    body
        .main
            .topping
                .container-top
                    .summary
                        img#avatar(src='https://i.oddball.tf/JUWICJ3wz8.png' alt='Avatar' height='200' width='200')
                        h1 RAVE
                        .heading(style="font-family:Roboto") But once again, nevermind...
                        .list-group
                            ul
                                li
                                    a(href='https://youtube.com/ravecsgo')
                                        img(src='./img/site/youtube.svg')
                                li
                                    a(href='https://steamcommunity.com/id/ravecsgoyt')
                                        img(src='./img/site/steam.svg')
                                li
                                    a(href='https://discord.gg/cjhHxrak2a')
                                        img(src='./img/site/discord.svg')
        footer
            a(href="https://oddball.tf")
                img(src="./img/site/favicon/footer.png")
